<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @log.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @log.age %>
</p>

<p>
  <strong>Place:</strong>
  <%= @log.place %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @log.phone_no %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
